<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="Showcase">

	<display-name>xpdc</display-name>

	<!-- Welcome File -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- Support for Tomcat Clustering -->
	<distributable/>

	<!-- Mengambil setting global/root Spring -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/appContext*.xml
		</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Spring's Dispatcher Servlet -->
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/spring-servlet.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- Jasper Reports Servlet (Untuk Image Filler di format HTML) -->
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/jasper/image</url-pattern>
	</servlet-mapping>
	<!-- Jasper Reports Servlet (Untuk Export Format PDF) -->
	<servlet>
		<servlet-name>PdfServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.PdfServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PdfServlet</servlet-name>
		<url-pattern>/jasper/pdf</url-pattern>
	</servlet-mapping>
	<!-- Jasper Reports Servlet (Untuk Export Format XLS) -->
	<servlet>
		<servlet-name>XlsServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.XlsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>XlsServlet</servlet-name>
		<url-pattern>/jasper/xls</url-pattern>
	</servlet-mapping>
	<!-- Jasper Reports Servlet (Untuk Export Format XLS) -->
	<servlet>
		<servlet-name>JExcelApiServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.JExcelApiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JExcelApiServlet</servlet-name>
		<url-pattern>/jasper/jxl</url-pattern>
	</servlet-mapping>
	<!-- Jasper Reports Servlet (Untuk Export Format RTF) -->
	<servlet>
		<servlet-name>RtfServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.RtfServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RtfServlet</servlet-name>
		<url-pattern>/jasper/rtf</url-pattern>
	</servlet-mapping>
	<!-- Jasper Reports Servlet (Untuk Export Format ODT) -->
	<servlet>
		<servlet-name>OdtServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.OdtServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OdtServlet</servlet-name>
		<url-pattern>/jasper/odt</url-pattern>
	</servlet-mapping>
	<!-- Jasper Reports Servlet (Untuk Export Format ODS) -->
	<servlet>
		<servlet-name>OdsServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.OdsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OdsServlet</servlet-name>
		<url-pattern>/jasper/ods</url-pattern>
	</servlet-mapping>
	<!-- Jasper Reports Servlet (Untuk Export Format DOCX) -->
	<servlet>
		<servlet-name>DocxServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.DocxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DocxServlet</servlet-name>
		<url-pattern>/jasper/docx</url-pattern>
	</servlet-mapping>
	<!-- Jasper Reports Servlet (Untuk Export Format PPTX) -->
	<servlet>
		<servlet-name>PptxServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.PptxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PptxServlet</servlet-name>
		<url-pattern>/jasper/pptx</url-pattern>
	</servlet-mapping>
	<!-- Jasper Reports Servlet (Untuk Export Format XLSX) -->
	<servlet>
		<servlet-name>XlsxServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.XlsxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>XlsxServlet</servlet-name>
		<url-pattern>/jasper/xlsx</url-pattern>
	</servlet-mapping>

</web-app>